@CHARSET "UTF-8";

/@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

header {
	background-color: rgba(0,0,0, 0.8);
	border-radius: 5px;
	padding:0 10px 0 10px;
	margin: 10px 0;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	color:#eeeeee;
	overflow:hidden;
}
header h4 {
    margin-top:15px;
}

footer {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}

ul.lnav {
	background-color: rgba(201, 201, 201, .8);
	padding: 10px;
	border-radius: 5px;
}

