{% extends '../base.html' %}

{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="board">
		<form id="search_form" action="/board" method="get">
			<input type="text" id="kwd" name="kwd" value="{{kwd}}">
			<input type="submit" value="찾기" />
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>

			{% for bdata in boards %}
			<tr>
				<td>
					{{paging.count|sub:paging.startnum|sub:forloop.counter|add:1}}
				</td>
				<td style="text-align:left;">
						{% if bdata.depth != 0 %}
							<img src="/assets/images/reply.png" alt="답글" style="margin-left:{{bdata.depth|mul:20}}px;" />
						{% endif %}
					{% if bdata.status == 1 %}
						<a href="/board/view?no={{bdata.id}}&pages={{pages}}&kwd={{kwd|urlencode}}">{{bdata.title}}</a>
					{% else %}
						삭제된 게시글 입니다.
					{% endif %}
				</td>
				{% if bdata.status == 1 %}
				<td>{{bdata.user.name}}</td>
				<td>{{bdata.hit}}</td>
				<td>{{bdata.regdate|date:"Y-m-d"}}</td>
				<td>
						{% if request.session.authuser.id == bdata.user.id %}
							<a href="/board/delete?no={{bdata.id}}&pages={{pages}}&kwd={{kwd|urlencode}}">삭제</a>
						{% endif %}
				</td>
				{% else %}
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				{% endif %}
			</tr>
			{% endfor %}

		</table>


		<!-- pager 추가 -->
		<div class="pager">
			<ul>
				<!-- 제일 첫 페이지로 -->
				{% if pages == 1 %}
					<li>&lt;&lt;</li>
				{% else %}
					<li><a href="/board?pages=1&kwd={{kwd|urlencode}}">&lt;&lt;</a></li>
				{% endif %}
				<!-- 1보다 작으면 버튼 비활성화 -->
				{% if paging.rangestart_1 < 1 %}
					<li>◀</li>
				{% else %}
					<li><a href="/board?pages={{paging.rangestart_1}}&kwd={{kwd|urlencode}}">◀</a></li>
				{% endif %}
				{% for i in paging.range %}
					<!-- 최대 페이지를 넘어가면 비활성화 -->
					{% if i > paging.lastpage %}
							<li>{{i}}</li>
					{% else %}
						{% if i == pages %}
							<li class="selected">{{i}}</li>
						{% else %}
							<li><a href="/board?pages={{i}}&kwd={{kwd|urlencode}}">{{i}}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				<!-- 최대 페이지보다 작거나 같으면 버튼활성화 -->
				{% if paging.rangestart__pagecnt <= paging.lastpage %}
					<li><a href="/board?pages={{paging.rangestart__pagecnt}}&kwd={{kwd|urlencode}}">▶</a></li>
				{% else %}
				<!-- 최대 페이지보다 크면 버튼 비활성화 -->
					<li>▶</li>
				{% endif %}

				<!-- 제일 끝 페이지로 -->
				{% if pages < paging.lastpage %}
					<li><a href="/board?pages={{paging.lastpage}}&kwd={{kwd|urlencode}}">&gt;&gt;</a></li>
				{% else %}
					<li>&gt;&gt;</li>
				{% endif %}

			</ul>
		</div>
		<!-- pager 추가 -->



		{% if request.session.authuser is not None %}
		<div class="bottom">
			<a href="/board/write?pages={{pages}}&kwd={{kwd|urlencode}}" id="new-book">글쓰기</a>
		</div>
		{% endif %}
	</div>
{% endblock %}