{% extends '../base.html' %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function board_valid() {
	forms = document.getElementById('board_write');
	if(forms.title.value == '') {
		alert('제목을 입력해주세요.');
		return ;
	}
	if(forms.content.value == '') {
		alert('내용을 입력해주세요.');
		return ;
	}

	forms.submit();
}
</script>
{% endblock %}

{% block content %}
	<div id="board">
		<form class="board-form" method="post" action="/board/write/post" id="board_write">
			{% csrf_token %}
			<input type="hidden" name="parentno" value="{{parentno}}" />
			<input type="hidden" name="pages" value="{{pages}}" />
			<input type="hidden" name="kwd" value="{{kwd}}" />
			<table class="tbl-ex">
				<tr>
					<th colspan="2">글쓰기</th>
				</tr>
				<tr>
					<td class="label">제목</td>
					<td><input type="text" name="title" value=""></td>
				</tr>
				<tr>
					<td class="label">내용</td>
					<td>
						<textarea id="content" name="content"></textarea>
					</td>
				</tr>
			</table>
			<div class="bottom">
				{% if parentno == -1 %}
					<a href="/board?pages={{pages}}&kwd={{kwd|urlencode}}">취소</a>
				{% else %}
					<a href="/board/view?pages={{pages}}&no={{parentno}}&kwd={{kwd|urlencode}}">취소</a>
				{% endif %}
				<a href="#100" onclick="board_valid()">등록</a>
			</div>
		</form>
	</div>
{% endblock %}