{% extends '../base.html' %}

{% block csslink %}
	<link href="/assets/css/user.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="/assets/js/jquery/jquery-1.9.0.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#email").change(function(){
				$("#check-button").show();
				$("#check-image").hide();
			});

			$("#check-button").click(function(){
				var email = $("#email").val();
				if(email == "") {
					return;
				}

				/* ajax 통신 */
				$.ajax({
					url: "/user/api/checkemail?email="+email,
					type: "get",
					dataType: "json",
					data: "",
					success: function(response){
						if(response.result != "success") {
							console.log(response);
							return;
						}

						if(response.data == true) {
							alert("이미 존재하는 이메일입니다.\n다른 이메일을 사용해 주세요.");
							$("#email").val("");
							return;
						}
						$("#check-button").hide();
						$("#check-image").show();

					},
					error: function(xhr, error){
						console.error("error:" + error);
					}
				});
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div id="user">

		<form id="join-form" name="joinForm" method="post" action="/user/join">
			{% csrf_token %}
			<label class="block-label" for="name">이름</label>
			<input id="name" name="name" type="text" value="">

			<label class="block-label" for="email">이메일</label>
			<input id="email" name="email" type="text" value="">
			<input type="button" value="id 중복체크" id="check-button" />
			<img id="check-image" style="display:none;" src="/assets/images/check.png" alt="체크" />

			<label class="block-label">패스워드</label>
			<input name="password" type="password" value="">

			<fieldset>
				<legend>성별</legend>
				<label>여</label> <input type="radio" name="gender" value="female" checked="checked">
				<label>남</label> <input type="radio" name="gender" value="male">
			</fieldset>

			<fieldset>
				<legend>약관동의</legend>
				<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
				<label>서비스 약관에 동의합니다.</label>
			</fieldset>

			<input type="submit" value="가입하기">

		</form>
	</div>
{% endblock %}
